body {
    padding-top: 5rem;
    
}


#signupform{
    width: 35%;
}
img.icons{
	width: 2em;	
	padding-bottom: 0em;
	
}
img.pic{
    width:200px;
	margin-top: 2em;	
    border-radius: 10%;
    border: 1px solid black;

}
img.pic-post{
    width:40px;
	margin-top: 1em;	
    border-radius: 50%;
    margin-bottom: 5px;
    margin-left: 0.5em;
    

}
span.ds{
	margin-left: 1em;
	
}
div.mainblock{
    display: flex;
    
}
div.profile_details{
    border: 1px solid black;
    display: flex;
	align-items: center;
	flex-direction: column;
    justify-content: start;
    border-top: 0.5em solid rgb(35, 195, 89);
	box-shadow: 5px 10px 18px #888888;
	border-radius: 1em;
    width: 100%;  
   
}
div.px011{
width: 30%;

}

div.profileaboutme{
    margin-top: 2em;
	width: 100%;
	padding-left: 1em;
	padding-right: 1em;
}

div.profilemorebtn{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 2em;

}
div.profilemorebtn>form{
	
    width: 60%;
    padding: 5%;
}
div.profilemorebtn>form>button{
    width: 90%;
}
div.usersfriends{
    width: 100%;
    padding-bottom: 1.5em;
    border: 1px solid black;
    border-top: 0.5em solid rgb(35, 195, 89);
	box-shadow: 5px 10px 18px #888888;
    border-radius: 1em;
    height: 100%;
    overflow: auto;
}
div.px011b{
    width: 70%;
    margin-left: 5em;
    height: 100em;

}

div.profile{
    margin-left: 5%;
    margin-right: 5%;
	display: flex;
    align-items: center;
    border-top: 0.5em solid rgb(8, 163, 210);
	box-shadow: 5px 10px 18px #888888;
	border-radius: 1em;
	width: 90%;	
	margin-top: 2em;
}
div.friendspic,div.info,div.friendbtn{
  
    width: 30%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 2%;
}
    

div.friendspic{
    
    min-height: 80%;
    
}
div.friendbtn>form{
    
    margin: 5%;
}
div.flash{
    margin-top:3%;
    max-width: 50%;
}
.textare{
    display: inline-block;
    height: 5em;
    width: 60%;
    margin-left: 3em;
    
}
div.comments{
   width: 100%;
     
}
button.commentsubmitbtn{
    display: inline-block;
   height: 5em;
   width: 15%;
   position: relative;
   bottom: 2.3em;
  
}
div.mypostblock,div.friendspostblock{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    border-top: 0.5em solid rgb(8, 163, 210);
	box-shadow: 5px 10px 18px #888888;
    border-radius: 0.5em;
    padding: 1em;
    width: 95%;
    

}
div.post{
    margin: auto;
    margin-top: 1%;
    border-radius: 1em;
    width: 95%;
    padding: 2%;
    background-color: rgb(212, 255, 251);
}
div.commentpost{
    width: 90%;
    padding: 1%;
    border-radius: 0.5em;
    border-bottom: 2px solid black;
    margin: auto;
    margin-bottom: 1em;
    background-color: rgb(223, 223, 223);
}
div.mypostcontainer,div.friendpostcontainer{
min-width: 40%;
max-width: 50%;
}
div.findfriends{
    width: 100%;
    margin-top: 3em;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 1.5em;
    border: 1px solid black;
    border-top: 0.5em solid rgb(35, 195, 89);
	box-shadow: 5px 10px 18px #888888;
    border-radius: 1em;
    height: 100em;
    overflow: auto;
}
form.findfriends{
    width: 60%;
    margin: auto;
}
.findfriendsearch{
width: 80%;
display: inline-block;
}

form.mypost{
    margin-left: 7%;
    width: 75%;
    display: inline-block;
}
button.mypostbtn{
    margin-top: 3%;
    float:right;

}
form.edtprofile{
margin: 5%;

width: 90%;
}
form.edtprofile > button{
    width: 80%;
    margin-left: 8%;
}

div.grouplist{
    width: 50%;
    margin: 2%;
    min-width: 50%;
    margin-top: 3em;
    padding: 3%;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 1.5em;
    border: 1px solid black;
    border-top: 0.5em solid rgb(35, 195, 89);
    box-shadow: 5px 10px 18px #888888;
    background-color: rgb(243, 240, 240);
    border-radius: 1em;
    overflow: auto;



}

div.creategroup{
    width: 45%;
    margin: 2%;
    min-width: 50%;
    margin-top: 3em;
    padding: 3%;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 1.5em;
    border: 1px solid black;
    border-top: 0.5em solid rgb(35, 195, 89);
    box-shadow: 5px 10px 18px #888888;
    background-color: rgb(187, 187, 187);
    border-radius: 1em;
    overflow: auto;


}

div.maingroup{

    display: flex;
}
div.gro{

    margin: 2%;
    border: 1px solid black;
    border-top: 0.5em solid rgb(35, 195, 89);
   
    background-color: rgb(241, 241, 241);
    border-radius: 1em;
    padding: 5%;


}