{% extends "base.html" %}
{% block header %}
{% include "authHeader.html" %}
{% endblock %}


{% block main %}

<div>
    <form class="mypost" method="Post" action="{{ url_for('MakePost') }}">
        {{ Postform.csrf_token }}
    <div>
        <h3>{{Postform.Post.label}}</h3>
        {{Postform.Post(class="lg-textarea form-control", rows="4")}}
    </div>
    <button type="submit"class="btn btn-warning mypostbtn"> Post</button>



    </form>
</div>
<h1>Comments</h1>
<div class="mainblock">
   

    <div class="mypostcontainer">
        <h3>My Posts</h3>
        {%for mypandc in mypost %}
        <div class="mypostblock">
            <div class="post">
                <img class="pic-post" src={{url_for('static',filename="images/"+mypandc['Post'].Photoname)}}/>
                <span class="ds">{{mypandc['Post'].Username}}</span><br><br>            
                <p>{{mypandc['Post'].PostBody}}</p>
            </div>
                <h4>Comments</h4>
            {%for comment in mypandc['comments'] %}
            <div class="commentpost">
                <img class="pic-post" src={{url_for('static',filename="images/"+comment.Photoname)}}/>
                <span class="ds">{{comment.Username}}</span><br>           
                <p>{{comment.CommentBody}}</p> 
            </div>
                {%endfor%}
            <div class="comments">
                <form action="{{url_for('Makecomment',postid=mypandc['Post'].PostId)}}" method="POST">
                    {{ CommentForm.csrf_token }}
                    {{ CommentForm.Comments(class="md-textarea form-control textare") }}
                    <button type="submit" class="btn btn-warning commentsubmitbtn">Send</button>
                    
                </form>
            </div>
            </div>
                {%endfor%}
            </div>
                
                
    <div class="friendpostcontainer">

        <h2>Friends Posts</h2>
        {%for friendpost in friendspost %}
        {%for fpost in friendpost %}
        <div class="friendspostblock">
            
            <div class="post">
                <img class="pic-post" src={{url_for('static',filename="images/"+fpost['Post'].Photoname)}}/>
                <span class="ds">{{fpost['Post'].Username}}</span><br><br>
                <p>{{fpost['Post'].PostBody}}</p>
            </div>
                <h4>Comments</h4>
                {%for comment in fpost['comments'] %}
            <div class="commentpost">
                    <img class="pic-post" src={{url_for('static',filename="images/"+comment.Photoname)}}/>
                    <span class="ds">{{comment.Username}}</span><br>
                    <p>{{comment.CommentBody}}</p>
            </div>
                    {%endfor%}
            <div class="comments">
                <form action="{{url_for('Makecomment',postid=fpost['Post'].PostId)}}" method="POST">
                    {{ CommentForm.csrf_token }}
                    {{ CommentForm.Comments(class="md-textarea form-control textare") }}
                    <button type="submit"  class="btn btn-warning commentsubmitbtn">Send</button>
                </form>
            </div>
        </div>
        {%endfor%}
        {%endfor%}
        
        
        
    </div>
</div>
    {% endblock %}