{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block main %}
{% include 'flash_messages.html' %}
<h1>My Book Sign Up </h1>
<hr>
<form id="signupform" method="post" action="{{ url_for('home') }}">
	{{ form.csrf_token }}

 	<div>{{ form.First_Name.label }}<br>
 	{{ form.First_Name(class="form-control") }}
 	</div> <br>

 	<div>{{ form.Last_Name.label }}<br>
 	{{ form.Last_Name(class="form-control") }}
     </div><br>
     
     <div>	
    {{ form.Mobile_number.label }}<br>
    {{ form.Mobile_number(class="form-control") }}
    </div><br>
 	

 	<div>{{ form.Email.label }}<br>
 	{{ form.Email(class="form-control") }}
 	</div><br>

 	<div>	
 	{{ form.Password.label }}<br>
 	{{ form.Password(class="form-control") }}
     </div><br>
     
    

    <button type="submit" name="submit" class="btn btn-primary">Sign Up </button>
    <a class="btn btn-primary" href="{{ url_for('login') }}">Login</a> 
  
</form>

{% endblock %}