{% extends "base.html" %}
{% block header %}
{% include "authHeader.html" %}
{% endblock %}


{% block main %}
{% include 'flash_messages.html' %} 

<div class="mainblock">
    <div class="px011">
    <h3>Profile</h3>
<div class="profile_details">
    <div class="profilemoretop">
         <div class="pic">
             <img class="pic"  src={{url_for('static',filename="images/"+profilepic.Photoname)}}/>
         </div>
         <br>
         <div > 
            <h5><strong>{{user.Fname}} {{user.Lname}}</strong></h5><br>
            <img src="{{url_for('static', filename='icons/username.png')}}" alt="user" class="icons"><span class="ds">{{user.Username}}</span> <br><br>
            <img src="{{url_for('static', filename='icons/email.png')}}" alt="user" class="icons"><span class="ds">{{user.email}} </span><br><br>
            <img src="{{url_for('static', filename='icons/mobile_number.png')}}" alt="user" class="icons"><span class="ds">{{user.PhoneNumber}}</span> <br><br>
            <img src="{{url_for('static', filename='icons/date.png')}}" alt="user" class="icons"><span class="ds">{{user.DOB}}</span> <br><br>
            <img src="{{url_for('static', filename='icons/gender.png')}}" alt="user" class="icons"><span class="ds">{{user.Gender}}</span> <br><br>
            <img src="{{url_for('static', filename='icons/location.png')}}" alt="user" class="icons"><span class="ds">{{user.Street}}</span> <br><br>
            <img src="{{url_for('static', filename='icons/map.png')}}" alt="user" class="icons"><span class="ds">{{user.City}}</span> <br><br>
            <img src="{{url_for('static', filename='icons/relationship.png')}}" alt="user" class="icons"><span class="ds">  {{user.RelationshipStatus}}</span>
         </div>
     </div>
         <div class="profileaboutme">
             <h5>About me </h5>
             <p>{{user.Bio}}</p>
     
    
         </div>

    
 
 </div></div>
 <div class="px011b">
    <h3>{{user.Fname}}'s Posts</h3>
 <div class="usersfriends">
    
    {%for mypandc in mypost %}
    <div class="mypostblock">
        <div class="post">
            <img class="pic-post" src={{url_for('static',filename="images/"+mypandc['Post'].Photoname)}}/>
            <span class="ds">{{mypandc['Post'].Username}}</span><br><br>            
            <p>{{mypandc['Post'].PostBody}}</p>
        </div>
            <h4>Comments</h4>
        {%for comment in mypandc['comments'] %}
        <div class="commentpost">
            <img class="pic-post" src={{url_for('static',filename="images/"+comment.Photoname)}}/>
            <span class="ds">{{comment.Username}}</span><br>           
            <p>{{comment.CommentBody}}</p> 
        </div>
            {%endfor%}
        <div class="comments">
            <form action="{{url_for('Makecomment',postid=mypandc['Post'].PostId)}}" method="POST">
                {{ CommentForm.csrf_token }}
                {{ CommentForm.Comments(class="md-textarea form-control textare") }}
                <button type="submit" class="btn btn-warning commentsubmitbtn">Send</button>
                
            </form>
        </div>
        </div>
            {%endfor%}
    



 </div>
</div>
 
</div>



{% endblock %}